body {
  width: 100%;
  height: 100vh;
  background-color:	#fdfbfb;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  color: #222;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #222;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: center;
  color: #222;
}

.title-description {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.input-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.first-step {
  width: 50%;
  float:left;
}

.second-step {
  width: 50%;
  float: left;
}

.output-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.third-step {
  width: 100%;
}

textarea {
  width: 60%;
  height: 150px;
  border: 3px solid #333;
}

.textarea-box {
  text-align: center;
}

button {
  width: 20%;
  height: 50px;
  color: #333;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #333;
}

button:hover {
  background-color: #333;
  color: #e7e7e7;
}

.button-box {
  text-align: center;
}

.title-output {
  margin-top: 40px;
}

#result {
  width: 50%;
}

.information {
  text-align:left;
  margin-top: 30px;
}
